.Rproj.user
.Rhistory
.RData
.Ruserdata

Figures/*

data/*
!data/cold_pool/

data/cold_pool/bt_temp_time_series.rds
data/cold_pool/bt_temp_time_series_month.rds

data/cold_pool/GLORYS_cold_pool_input.rds
data/cold_pool/PSY_cold_pool_input.rds

